@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-quicksand: "Quicksand", sans-serif;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.15)), url("./assets/bg1.jpg");
  background-size: cover;
  background-position: center;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
}
